@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
  --background: hsl(0, 0%, 93.0%);
  --handle: #d1d1d1;
  --text-body: #1D1D1D;
  --primary: #114BE0;
  --purple: #696EFF;
  --highlight: #FF5930;
  --purple: #696EFF;
  --pink: #F7ABFF;
  --font-size: 16px
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  outline: none;
}

html {
  background-color: var(--background);
  font-size: var(--font-size);
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--text-body);
}

textarea,
pre,
code {
  font-family: 'Roboto Mono', monospace;
  font-size: 0.9rem;
}

pre[class*="language-"] {
  margin: 0;
}

/** Layout **/
body {
  display: flex;
  align-items: center;
}

main {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin: 0 auto;
  max-width: calc(960px + 3.5rem);
}

/** Title **/
.Title {
  color: var(--purple);
  margin: 0.5rem;
  margin-bottom: 1rem;
  font-family: 'Lobster', cursive;
}

.Title .Title__gradient {
  background: linear-gradient(90deg, var(--purple) 0%, var(--pink) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/** Nodes **/
main > .Nodes {
  margin-bottom: 10rem;
}

@media (min-width: 1016px) {
  .Node .Node__Controls {
    position: absolute;
    left: -2.5rem;
  }
}

.Nodes {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 960px;
}

.Nodes > .Nodes {
  padding-left: 0.5rem;
}

/** Node **/
.Node {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}

.Node .Node__Controls {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  min-width: 2.5rem;
  flex: 0 1 2.5rem;
  padding: 0.5rem 0;
}

.Node .Node__Control {
  display: flex;
  justify-content: center;
  color: var(--handle);
  min-width: 1rem;
  max-width: 1rem;
}

.Node .Node__Control--transparent {
  opacity: 0;
}

.Node .fa-grip-vertical {
  cursor: pointer;
}

.Node .fa-chevron-right,
.Node .fa-chevron-down {
  cursor: grab;
}

@media (min-width: calc(960px + 3.5rem)) {
  .Node {
    position: relative;
  }

  .Node .Node__Controls {
    position: absolute;
    left: -2.5rem;
    display: flex;
    justify-content: center;
    color: var(--handle);
    min-width: 1rem;
    max-width: 1rem;
  }
}

/** Interpreter **/
.Interpreter {
  min-width: 0;
  flex: 1 1 auto;
  background-color: white;
  border: none;
  border-left: 2px solid var(--handle);
  border-radius: 0;
  padding: 0.5rem;
}

.Node.hoverTop .Interpreter {
  border-top: 2px solid var(--highlight);
}

.Node.hoverBottom .Interpreter {
  border-bottom: 2px solid var(--highlight);
}

  /** Interpreter Edit **/
  .Interpreter__Edit {
    border-left: 2px solid var(--highlight);
    border-radius: 0;
    color: var(--text-body);
    font-family: 'Roboto Mono', monospace;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: normal;
    outline: none;
    overflow: hidden;
    resize: none;
  }

  /** Interpreter Markdown **/
  .Interpreter__Markdown {
    background-color: rgb(254, 254, 254);
    text-align: justify;
    min-height: 37px;
  }

  .Interpreter__Markdown h1,
  .Interpreter__Markdown h2,
  .Interpreter__Markdown h3,
  .Interpreter__Markdown h4,
  .Interpreter__Markdown h5 {
    text-align: left;
  }

  .Interpreter__Markdown > * + * {
    margin-top: 0.5rem;
  }

  .Interpreter__Markdown > pre {
    overflow: auto;
  }

  /** Interpreter Code **/
  .Interpreter__Code {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0.6rem;
  }

  pre[class*="language-"].Interpreter__Code--pre {
    width: 100%;
    min-width: 100%;
    min-height: 2.5rem;
    background-color: #f5f2f0;
    padding: 0.5rem;
    font-family: 'Roboto Mono', monospace;
    font-size: 0.9rem;
  }

  .Interpreter__Code--inputs {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .Interpreter__Code--filename,
  .Interpreter__Code--language {
    width: 14ch;
    border: none;
    font-family: 'Roboto Mono', monospace;
    font-size: 0.8rem;
    background: #f5f2f0;
    padding: 0.2rem 1ch 5px 1ch;
    outline: none;
    border-bottom-left-radius: 8px;
    text-align: center;
  }

  .Interpreter__Code--filename {
    background-color: white;
    width: 100%;
    align-self: flex-start;
    border-radius: 0;
    color: var(--handle);
    text-align: left;
  }

/** ScrollArea **/
body > .ScrollArea__Root,
body > .ScrollArea__Root > .ScrollArea__Viewport {
  height: 100vh;
  width: 100%;
}

.ScrollArea__Scrollbar {
  display: flex;
  padding: 0.1rem;
}

.ScrollArea__Scrollbar[data-orientation="vertical"] {
  width: 0.5rem;
}

.ScrollArea__Thumb {
  flex: 1;
  background: var(--handle);
  border-radius: 0.5rem;
}

/** DropdownMenu */
.DropdownMenu__Content {
  min-width: 5rem;
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.4rem;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);
  margin-top: -0.5rem;
}

.DropdownMenu__Item {
  all: unset;
  font-size: 0.8rem;
  line-height: 1;
  color: var(--text-body);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 1.5rem;
  padding: 0 0.4rem;
  position: relative;
  user-select: none;
}

.DropdownMenu__Item:focus {
  background-color: var(--handle);
}

.DropdownMenu__Label {
  font-size: 0.65rem;
  color: var(--handle);
  text-transform: uppercase;
}

.DropdownMenu__LeftSlot {
  margin-right: 1rem;
  color: var(--text-body);
  min-width: 1rem;
}

.DropdownMenu__LeftSlot > svg {
  width: 1rem !important;
}

.DropdownMenu__LeftSlot > svg > path {
  fill: var(--handle);
}

.DropdownMenu__Item:focus > .DropdownMenu__LeftSlot {
  color: var(--text-body);
  background-color: var(--handle);
}

.DropdownMenu__Item:focus > .DropdownMenu__LeftSlot > svg > path {
  fill: var(--text-body);
}

.DropdownMenu__CenterSlot {
  margin-left: 2rem;
}

.DropdownMenu__LeftSlot + .DropdownMenu__CenterSlot {
  margin-left: 0;
}

.DropdownMenu__RightSlot {
  margin-left: auto;
  padding-left: 1.3rem;
  color: var(--handle);
}

.DropdownMenu__Item:focus > .DropdownMenu__RightSlot {
  color: var(--text-body);
  background-color: var(--handle);
}

.DropdownMenu__Item.DropdownMenu__Item--red {
  color: var(--highlight);
}

.DropdownMenu__Item.DropdownMenu__Item--red:focus {
  color: var(--background);
  background-color: var(--highlight);
}

.DropdownMenu__Item--red > .DropdownMenu__LeftSlot {
  color: var(--highlight)
}

.DropdownMenu__Item.DropdownMenu__Item--red:focus > .DropdownMenu__LeftSlot {
  color: var(--background);
  background-color: var(--highlight);
}

.DropdownMenu__Item.DropdownMenu__Item--red > .DropdownMenu__LeftSlot > svg > path {
  fill: var(--highlight);
}

.DropdownMenu__Item.DropdownMenu__Item--red:focus > .DropdownMenu__LeftSlot > svg > path {
  fill: white;
}

.DropdownMenu__Item--red > .DropdownMenu__RightSlot {
  color: var(--highlight)
}

.DropdownMenu__Item.DropdownMenu__Item--red:focus > .DropdownMenu__RightSlot {
  color: var(--background);
  background-color: var(--highlight);
}

.DropdownMenu__Separator {
  height: 1px;
  background-color: var(--background);
  margin: 5px;
}

.DropdownMenu__Arrow {
  margin-right: 1rem;
  fill: white;
  filter: drop-shadow(0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2));
}

@media (prefers-reduced-motion: no-preference) {
  .DropdownMenu__Content {
    animation-duration: 400ms;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    will-change: transform, opacity;
  }

  .DropdownMenu__Content[data-state="open"] {
    animation-name: slideDownAndFade;
  }

  .DropdownMenu__Content[data-state="right"] {
    animation-name: slideLeftAndFade;
  }

  .DropdownMenu__Content[data-state="bottom"] {
    animation-name: slideUpAndFade;
  }

  .DropdownMenu__Content[data-state="left"] {
    animation-name: slideRightAndFade;
  }
}

@keyframes slideUpAndFade {
  0% { opacity: 0; transform: translateY(2px); }
  100% { opacity: 1; transform: translateY(0); }
}

@keyframes slideRightAndFade {
  0% { opacity: 0; transform: translateX(-2px); }
  100% { opacity: 1; transform: translateX(0); }
}

@keyframes slideDownAndFade {
  0% { opacity: 0; transform: translateY(-2px); }
  100% { opacity: 1; transform: translateY(0); }
}

@keyframes slideLeftAndFade {
  0% { opacity: 0; transform: translateX(2px); }
  100% { opacity: 1; transform: translateX(0); }
}