@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
  --background: #F9F9F9;
  --handle: #d1d1d1;
  --text-body: #1D1D1D;
  --primary: #114BE0;
  --purple: #696EFF;
  --highlight: #FF5930;
  --purple: #696EFF;
  --pink: #F7ABFF;
  --font-size: 16px
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  outline: none;
}

iframe {
  overflow: hidden;
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  background-color: var(--background);
  font-size: var(--font-size);
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--text-body);
}

main {
  padding: 0 0.5rem;
  margin: 0 auto;
  max-width: 960px;
}

h1, h2, h3, h4, h5 {
  margin: 0.5rem;
  font-family: 'Lobster', cursive;
}

/** TEXT **/

p {
  line-height: calc(var(--font-size) + 0.25rem);
}

.title {
  background: linear-gradient(90deg, var(--purple) 0%, var(--pink) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/** BUTTON **/
button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--primary);
  border-radius: 0.3rem;
  padding: 0.5rem 1.5rem;
  color: white;
  font-weight: 500;
  text-align: center;
  outline: none;
  border: 0;
  cursor: pointer;
}

button.outline {
  background: var(--background);
  border: 0.15rem solid var(--primary);
  color: var(--primary);
}

button.link {
  background: transparent;
  color: var(--primary);
}

button.square {
  min-width: 2rem;
  padding: 0.4rem;
}

button.hover {
  color: var(--text-body);
  opacity: 0.3;
}

button.circle {
  padding: 0.5rem 0.6rem;
  border-radius: 50%;
}

/** FORM **/

form,
form fieldset {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  outline: 0;
  border: 0;
  padding: 0;
  background: transparent;
}

form input[type="text"],
form textarea {
  width: 100%;
  border: 2px solid var(--background);
  border-radius: 0;
  padding: 0.5rem;
  outline: none
}

form textarea {
  font-size: var(--font-size);
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--text-body);
  resize: none;
  transition: background 0.5s, border 0.5s, height 0.25s;
}

form textarea {
  overflow: hidden;
}

form textarea.hoverTop {
  border-top: 2px solid var(--primary);
}

form textarea.hoverBottom {
  border-bottom: 2px solid var(--primary);
}

form input[type="text"].animated,
form textarea.animated {
  background: var(--handle);
  border: 2px solid var(--handle);
  transition: background 0.5s, border 0.5s;
}

form input:focus-visible {
  border: 2px solid var(--primary);
}

/** LAYOUT **/

.flex {
  display: flex;
}

.flex.row {
  flex-direction: row;
}

.flex.align-items-center {
  align-items: center;
}

.flex.justify-content-center {
  justify-content: center;
}

.flex.justify-content-space-between {
  justify-content: space-between;
}

/** UTILITIES **/
.h-color {
  color: var(--highlight)!important;
}

.purple-color {
  color: var(--purple)!important;
}

.p-color-hover:hover {
  color: var(--primary)!important;
  opacity: 1;
}

.h-color-hover:hover {
  color: var(--highlight)!important;
  opacity: 1;
}

.h-border {
  border: 0.15rem solid var(--highlight);
}

.h-background {
  background-color: var(--highlight);
}

.padding-left {
  padding-left: 0.5rem;
}

.padding-right {
  padding-right: 0.5rem;
}

.padding-top {
  padding-top: 0.5rem;
}

.padding-bottom {
  padding-bottom: 0.5rem;
}

.margin-bottom {
  margin-bottom: 0.5rem;
}

/** Input **/
.Input button {
  position: absolute;
  right: 1.25rem;
}

.Input input[type="text"] {
  padding: 0.75rem 0.5rem;
}

/** Backgrounds **/
.bg-0 {
  background: linear-gradient(180deg, rgba(105, 110, 255, 0.549) 0%, rgba(247, 171, 255, 0.179) 100%);
}

.bg-1 {
  background: linear-gradient(180deg, #F4E3B8 0%, #BFDDEE 100%);
}

.bg-2 {
  background: linear-gradient(180deg, #F5C4B7 0%, #F4E3B8 100%);
}

.bg-3 {
  background: linear-gradient(90deg, rgba(225, 236, 246, 0.412) 0%, rgba(240, 227, 227, 0.309) 100%);
}

.bg-4 {
  background: linear-gradient(180deg, #696eff56 0%, #bfeee887 100%);
}

.bg-5 {
  background: linear-gradient(90deg, #E1ECF6 0%, #F0E3E3 100%);
}

/** Tassks **/
.Tasks hr {
  border: 1px solid var(--primary);
  width: calc(100% - 2.7rem);
  margin: 0 0 0 2.2rem;
  transition: border-color 0.5s;
  margin-top: -1px;
  margin-bottom: -1px;
}

/** Task **/

.Task {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 0.5rem;
  margin-left: -0.5rem;
}

.Task iframe {
  padding-left: 0.5rem;
}

.Task > div {
  border-radius: 26.9217px;
}

.Task .control {
  color: var(--handle);
  margin-right: 0.125rem;
  width: 1.2rem;
  padding-top: 0.6rem;
}

.Task .fa-grip-vertical {
  cursor: grab;
}

.Task .fa-chevron-up,
.Task .fa-chevron-down {
  cursor: pointer;
}

/** ScrollArea **/
.ScrollArea__Root,
.ScrollArea__Viewport {
  height: 100vh;
  width: 100%;
}

.ScrollArea__Scrollbar {
  display: flex;
  padding: 0.2rem;
}

.ScrollArea__Scrollbar[data-orientation="vertical"] {
  width: 0.8rem;
}

.ScrollArea__Thumb {
  flex: 1;
  background: var(--handle);
  border-radius: 0.5rem;
}